<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-game-control (newIntervalRecieved)="addNewNumber($event)"></app-game-control>
    </div>
    <p *ngFor="let number of numbers"> 
      <app-odd-numbers *ngIf="number % 2 === 1" [oddNumber]="number"></app-odd-numbers>
      <app-even-numbers *ngIf="number % 2 === 0" [evenNumber]="number">zzzz</app-even-numbers>
    </p>
  </div>
</div>